/* @import url("https://fonts.googleapis.com/css?family=Inter"); */

.header-container {
    background-color:   #71287991;   
    border: none;   
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    padding-bottom: 0.8%;
}

.page-name {
    padding-top: 0.5%;
    padding-left: 60px;
    font-size: 40px;
    /* font-family: "Inter", SemiBold 600; */
}